<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.herman.dao.HeroMapper">
  <resultMap id="BaseResultMap" type="com.herman.entity.Hero">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="power" jdbcType="VARCHAR" property="power" />
    <result column="alterEgo" jdbcType="VARCHAR" property="alterego" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, power, alterEgo, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hero
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hero
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.herman.entity.Hero">
    insert into hero (id, name, power, 
      alterEgo, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR}, 
      #{alterego,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.herman.entity.Hero">
    insert into hero
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="power != null">
        power,
      </if>
      <if test="alterego != null">
        alterEgo,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        #{power,jdbcType=VARCHAR},
      </if>
      <if test="alterego != null">
        #{alterego,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.herman.entity.Hero">
    update hero
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="power != null">
        power = #{power,jdbcType=VARCHAR},
      </if>
      <if test="alterego != null">
        alterEgo = #{alterego,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.herman.entity.Hero">
    update hero
    set name = #{name,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR},
      alterEgo = #{alterego,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.herman.entity.Hero">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="power" jdbcType="VARCHAR" property="power" />
    <result column="alterEgo" jdbcType="VARCHAR" property="alterego" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="all_column">
    id,
    name,
    power,
    create_time,
    update_time
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hero
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.herman.entity.Hero">
    insert into hero (id, name, power, 
      alterEgo, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR}, 
      #{alterego,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.herman.entity.Hero">
    update hero
    set name = #{name,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR},
      alterEgo = #{alterego,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, power, alterEgo, create_time, update_time
    from hero
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, power, alterEgo, create_time, update_time
    from hero
  </select>
  <resultMap id="BaseResultMap" type="com.herman.entity.Hero">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="power" jdbcType="VARCHAR" property="power" />
    <result column="alterEgo" jdbcType="VARCHAR" property="alterego" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hero
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.herman.entity.Hero">
    insert into hero (id, name, power, 
      alterEgo, create_time, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{power,jdbcType=VARCHAR}, 
      #{alterego,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.herman.entity.Hero">
    update hero
    set name = #{name,jdbcType=VARCHAR},
      power = #{power,jdbcType=VARCHAR},
      alterEgo = #{alterego,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, power, alterEgo, create_time, update_time
    from hero
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, power, alterEgo, create_time, update_time
    from hero
  </select>

<!--auto generated by codehelper on 2017-05-26 17:55:03-->
    <delete id="deleteById">
    delete from hero
    where `id`=#{id}
  </delete>

<!--auto generated by codehelper on 2017-05-26 17:56:11-->
    <select id="findById" resultMap="BaseResultMap">
    select
    <include refid="all_column" />
    from hero
    where `id`=#{id}
  </select>
</mapper>